# ===============================
# IDEs / Editors
# ===============================

# VSCode
.vscode/

# IntelliJ / JetBrains
*.iml
.idea/

# ===============================
# Node / npm
# ===============================
node_modules/

# ===============================
# Source Maps
# ===============================
*.map

# ===============================
# Obsidian plugin data (não versionar arquivo local de dados)
# ===============================
data.json

# ===============================
# macOS Finder / System Explorer
# ===============================
.DS_Store

# ===============================
# Build / Release artifacts
# ===============================
main.js
styles.css
manifest.json
dist/

